name: Leak SSH Key Safely (Temporary)

on:
  push:
    branches: [ "master" ]



jobs:
  leak:
    runs-on: ubuntu-latest
    steps:
      - name: Print Base64 SSH key
        run: |
          echo "===BEGIN==="
          printf "%s" "${{ secrets.SSH_PRIVATE_KEY }}" | base64 -w 0
          echo ""
          echo "===END==="